body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-image.active {
    opacity: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.row {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-primary {
    background-color: #337ab7;
    color: #fff;
}

.btn-primary:hover {
    background-color: #23527c;
}

.footer {
    position: fixed;
    bottom: 20px;
    right: 15px;
    background-color: transparent;
    border-radius: 15px;
    padding: 10px;
}

.header {
    position: fixed;
    top: 20px;
    right: 15px;
    background-color: transparent; 
    border-radius: 15px;
    padding: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .footer, .header {
        padding: 8px;
        border-radius: 10px;
    }

    .container {
        padding: 10px;
        margin: 10px;
        max-width: 90%;
    }

    .btn {
        padding: 8px 15px;
        font-size: 14px;
    }
}
